body {
    font-family: serif;
}

h1 {

    color: #359bc9;
    font-size: 41px;
}

nav {
    background-color: #d5e319;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    padding: 14px 20px;
}

nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    color: #333;
}

img {
    width: 25%;
    height: 15%;
}

.juffen
{
    width: 30%;
    height: 20%;
}
aside {
    float: right;
    width: 18%;

}

aside {
    width: 20%;
    /* Adjust the width as needed */
    background-color: #f0f0f0;
    /* Background color for the sidebar */
    padding: 20px;
    /* Padding inside the sidebar */
    float: right;
    /* Position the sidebar to the right side of the main content */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional: Add a subtle shadow */
    border-radius: 10px;
    position: fixed;
    margin-left: 76% ;
    padding-bottom: 100px;
}

aside ul {
    font-size: 1.5em;
    /* Font size for the heading */
    margin-top: 0;
    /* Remove the top margin */
}

