body {
    font-family: serif;
    font-size: larger;
    background-image: url(Afbeeldingen/Achtergrond.png);
}

h1 {
    color: #359bc9;
    font-size: 41px;
}

nav {
    background-color: #d5e319;
    overflow: hidden;
    width: 70%;
    border-radius: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    padding: 14px 20px;
    justify-content: center;
}

nav a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    display: block;
}

nav a:hover {
    color: #333;
    border: 2px solid #333;
}

img#Logo {
    height: 100%;
    width: 20%;
}

img {
    width: 30%;
    height: 20%;
}

.juffen {
    width: 35%;
    height: 25%;
}

aside {
    width: 20%;
    height: 40%;
    padding: 20px;
    float: right;
    position: fixed;
    margin-left: 76.3%;
    font-family: sans-serif;
    font-size: smaller;
    background-color: #d5e319;
    border-radius: 9%;
}

aside ul {
    font-size: 1.5em;
    margin-top: 0;
}

aside a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

aside li {
    text-decoration: none;
    display: block;
}

aside a:hover {

    border: 2px solid #333;
}

article {
    width: 70%;
}

section {
    background-color: white;
    border-radius: 9px;
    padding-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    article {
        width: 100%;
        font-size: x-large;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: inline;
        margin-top: 15px;
    }

    nav a {
        display: inline;
        font-size: xx-large;
    }

    .juffen {
        width: 50%;
        height: 40%;
    }

    img {
        width: 40%;
        height: 30%;
    }

    aside {
        display: none;
    }

    img#Logo {
        height: 100%;
        width: 70%;
    }

    iframe {
        width: 100%;
    }
    .BritseVlag
    {
        max-width: 30%;
        max-height: 20%;
    }
}

@media screen and (max-width: 768px) {
    article {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: inline;
        margin-top: 15px;
    }

    nav a {
        display: inline;
    }

    .juffen {
        width: 70%;
        height: 60%;
    }

    img {
        width: 60%;
        height: 50%;
    }

    aside {
        display: none;

    }

    img#Logo {
        height: 100%;
        width: 70%;
    }

    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {

    article {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: inline;
        margin-top: 15px;
    }

    nav a {
        display: inline;
    }

    .juffen {
        width: 70%;
        height: 60%;
    }

    img {
        width: 60%;
        height: 50%;
    }

    aside {
        display: none;

    }

    img#Logo {
        height: 100%;
        width: 70%;
    }

    iframe {
        width: 100%;
    }
}